<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Airports Database</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/public/app.css">
</head>

<body>

    <h1 class="centering"><span id="h1-symbol">&#10073;&nbsp;</span>
        <a href="/airports">Airports Database Center</a>
    </h1>
    <p>Find Airports in Range of Latitude & Longitude</p>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane  in active">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group mb-3">
                        <div class="input-group mb-3">
                            <form class="form-inline my-2 my-lg-0" action="/searchRange" method="get">
                                <div class="form-group">
                                    <input class="form-control mr-sm-2" type="text" name="latmin"
                                        placeholder="Min Latitude">
                                    <input class="form-control mr-sm-2" type="text" name="latmax"
                                        placeholder="Max Latitude">
                                </div>
                                <div class="form-group mr-2">
                                    <select name="choice">
                                        <option value="or" selected>OR</option>
                                        <option value="and">AND</option>
                                    </select>
                                </div>
                                <div class="form-group">

                                    <input class="form-control mr-sm-2" type="text" name="lonmin"
                                        placeholder="Min Latitude">
                                    <input class="form-control mr-sm-2" type="text" name="lonmax"
                                        placeholder="Max Latitude">
                                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i
                                            class="fa fa-search"></i></button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <form name="searchform" onSubmit="dosearch()">
        Search:
        <select name="sengines">
            <option value="http://www.google.com/search?q=" selected>Google</option>
            <option value="/searchContinentalAirports?q=">Continental</option>
            <option value="/searchCountryAirports?q=">Country</option>
        </select>
        For:
        <input type="text" name="searchterms">
        <input type="submit" name="SearchSubmit" value="Search">
    </form> -->

    <div class="row">
        <div class="col-md-8">
            <form name="searchform" action="/searchLocation" method="get">
                Search:
                <select name="choice">
                    <option value="Continental">Continental</option>
                    <option value="Country">Country</option>
                    <option value="Timezone">Timezone</option>
                </select>
                For:
                <input type="text" name="searchterms">
                <input type="submit" name="SearchSubmit" value="Search">
            </form>
        </div>

        <div class="col-md-4">
            <form name="refresh" action="/searchAirports" method="get">
                <input class="btn btn-primary" type="button" name="refresh" value="Refresh Database Center">
            </form>
        </div>
    </div>





    <h1 class="centering"><span id="h1-symbol">&#10073;&nbsp;</span>Search Results: </h1>


    <div id="grid-container">
        <div id="table-wrapper">
            <table id="data-table">
                <thead>
                    <tr>
                        <th scope="col">_id</th>
                        <th scope="col">code</th>
                        <th scope="col">icao</th>
                        <th scope="col">name</th>
                        <th scope="col">city</th>
                        <th scope="col">state</th>
                        <th scope="col">country</th>
                        <th scope="col">elevation</th>
                        <th scope="col">lat</th>
                        <th scope="col">lon</th>
                        <th scope="col">tz</th>
                        <th scope="col">Function</th>
                    </tr>
                </thead>
                <%if(data.length>0){%>
                    <tbody>
                        <%data.forEach(airport=> {%>

                            <tr>
                                <th scope="row">
                                    <a href="<%= `/airports/show/${airport._id}` %>">
                                        <%= airport._id %>
                                    </a>
                                </th>
                                <td>
                                    <%= airport.code %>
                                </td>
                                <td>
                                    <%= airport.icao %>
                                </td>
                                <td>
                                    <%= airport.name %>
                                </td>
                                <td>
                                    <%= airport.city %>
                                </td>
                                <td>
                                    <%= airport.state %>
                                </td>
                                <td>
                                    <%= airport.country %>
                                </td>
                                <td>
                                    <%= airport.elev %>
                                </td>
                                <td>
                                    <%= airport.lat %>
                                </td>
                                <td>
                                    <%= airport.lon %>
                                </td>
                                <td>
                                    <%= airport.tz %>
                                </td>
                                <td>
                                    <a class="btn btn-raised btn-primary"
                                        href="<%= `/airports/${airport._id}/edit` %>">Edit</a>
                                    <a class="btn btn-raised btn-danger"
                                        href="<%= `/airports/${airport._id}/delete` %>">Delete</a>
                                </td>
                            </tr>

                            <%})%>
                    </tbody>
                    <%}%>
            </table>
        </div>
        <div id=" table-btn-wrapper">
            <span class="table-btn" onclick="selectTopOrBottomRow(1)"
                title="Select first row (of the table)">&#708;</span>
            <span class="table-btn" onclick="selectTopOrBottomRow(0)"
                title="Select last row (of the table)">&#709</span>
        </div>
    </div>

    <br><br>


    <div id="status-label" class="labels">
        Status: <span id="status" class="gap-2">
            <%= (data.length)%> results
        </span>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


    <script src="/public/main.js"></script>
</body>

</html>